{% extends 'base.html' %}

{% block page %}

    <form method="POST">
        <h2>Добавить публикацию через обычную форму</h2>
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name='name' placeholder="Название публикации" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="text" cols="30" rows="10" placeholder="Текст публикации"></textarea>
        </div>
        <button class="btn btn-success">Создать</button>
    </form>


{% endblock %}